* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: hsl(180, 21%, 91%);
  font-family: "Montserrat", sans-serif;
}
main {
  background-color: white;
  max-width: 750px;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.landing-page {
  background: linear-gradient(
      45deg,
      rgba(0, 128, 128, 0.3),
      rgba(255, 0, 150, 0.3)
    ),
    url("./img/main.webp");
  background-size: cover;

  font-size: 1.5em;
}

article {
  border: 3px solid rgb(145, 236, 236);
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  line-height: 2;
}

.index {
  list-style-type: none;
  font-size: 1.25em;
  line-height: 1.5;
}

a:focus {
  outline: 2px solid rgb(145, 236, 236);
  padding: 0 0.25em;
  border-radius: 2px;
}

a {
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

a:hover {
  transform: scale(1.05);
  color: rgb(3, 56, 56);
}

/* recipe style */
.recipe {
  background: rgb(226, 248, 248);
}
.recipe h1 {
  font-size: 2.5em;
  color: teal;
}

.recipe figure {
  display: inline-block;
  width: 80%;
  margin-bottom: 1em;
}

.recipe figure img {
  width: 100%;
  border: 1px solid rgb(184, 243, 243);
}
.recipe figure figcaption {
  font-size: 0.75em;
  font-style: italic;
}

.ingredients,
.steps {
  padding: 1em;
}

h2 {
  line-height: 2;
  color: teal;
}

.ingredients ul,
.steps ol {
  text-align: left;
  margin-left: 5em;
}

.link-home {
  display: inline-block;
  margin: 1em;
}
